---
import { marked } from "marked";
import type { Post } from "../lib/types";
import { strapiFetch } from "../lib/strapi";
import PostMeta from "./PostMeta.astro";

const { data } = await strapiFetch("/posts");
const posts: Post[] = data;
posts.sort((a, b) => {
  return (
    new Date(b.attributes.publishedAt).getTime() -
    new Date(a.attributes.publishedAt).getTime()
  );
});
---

<Fragment>
  {
    posts.map((post) => (
      <article>
        <h3>
          <a href={`/news/${post.attributes.Slug}/`}>{post.attributes.Title}</a>
        </h3>
        <PostMeta post={post} compact={true} />
        <Fragment set:html={marked.parse(post.attributes.Content)} />
      </article>
    ))
  }
</Fragment>
