---
const { title } = Astro.props;
import { getMenuBySlug, getGlobalSettings } from "../lib/strapi";
import type { MenuItem } from "../lib/types";
import "../scss/index.scss";
const headerMenu: MenuItem[] = await getMenuBySlug("header");
const globalSettings = await getGlobalSettings();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {globalSettings.siteTitle}</title>
    <!-- FontAwesome v6 -->
    <link rel="stylesheet" href="/all.min.css" />
  </head>
  <body>
    <nav id="pre-header">
      <a href="https://twitter.com/utopianfriends"
        ><i class="fa-brands fa-twitter"></i> Twitter</a
      >
    </nav>
    <header id="header">
      <div id="header-wrapper">
        <h1>{globalSettings.siteTitle}</h1>
        <button id="menu-toggle">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
      <nav id="header-nav">
        {
          headerMenu.map((item) => (
            <a href={item.attributes.url} target={item.attributes.target}>
              {item.attributes.title}
            </a>
          ))
        }
      </nav>
    </header>
    <section id="main-wrapper">
      <main id="main">
        <slot />
      </main>
      <nav id="sidebar">
        <h2>Subscribe</h2>
        <p>
          Join the Utopian Friends mailing list to keep up to date with our
          future plans and events.
        </p>
      </nav>
    </section>
    <footer id="footer">
      <p>
        <i class="far fa-copyright"></i>
        {new Date().getFullYear()} Utopian Friends Society
      </p>
    </footer>
  </body>
</html>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const headerNav = document.getElementById("header-nav");
  menuToggle?.addEventListener("click", () => {
    headerNav?.classList.toggle("active");
  });
</script>
